{
  "parser": "typescript",
  "tabWidth": 2,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "insertPragma": false,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "jsxSingleQuote": true,
  "printWidth": 80,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": true,
  "singleQuote": true,
  "useTabs": false,
  "importOrder": [
    "^react(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^(assets|components|constants|controllers|dataProvider|graphql|i18n|pages|services|shared|utils)(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "overrides": [
    {
      "files": ["*.json", "*.jsonc", ".prettierrc", ".env-cmdrc"],
      "options": {
        "semi": false,
        "parser": "json"
      }
    },
    {
      "files": ["*.yml", "*.yaml"],
      "options": {
        "semi": false,
        "parser": "yaml"
      }
    }
  ]
}
